@charset "UTF-8";

@import "import/lib-fonts";
@import "base";
@import "import/typography";
@import "import/reset-css";

/* clearfix */
.clearfix{
	*zoom:1;
	&:before, &:after{
		content:'';
		display:block;
	}
	&:after{
		clear:both;
	}
}

/* hidden */
.hidden {
    overflow: hidden;
    border: 0;
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
}

html, body{
    height:100%;
    background-color:$bg-color;
}

.p-only{
    display:block!important;
}
.m-only{
    display:none!important;
}

.loading{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:$bg-color;
    z-index:1000;
    #load{
        position:absolute;
        width:100%;
        height:rem(36px);
        left:50%;
        top:50%;
        transform: translate(-50%, -50%);
        overflow:visible;
        user-select:none;
        cursor:default;
        > div{
            position:absolute;
            width:rem(20px);
            height:rem(36px);
            opacity:0;
            animation:loadMove 2s linear infinite;
            transform:rotate(180deg);
            color:$point-color;
            &:nth-child(2){
                animation-delay:0.2s;
            }
            &:nth-child(3){
                animation-delay:0.4s;
            }
            &:nth-child(4){
                animation-delay:0.6s;
            }
            &:nth-child(5){
                animation-delay:0.8s;
            }
            &:nth-child(6){
                animation-delay:1.0s;
            }
            &:nth-child(7){
                animation-delay:1.2s;
            }
        }
    }
}

.wrap{
    position:relative;
    display: flex;
    flex-direction: column;
    height:100%;
    .btn-top{
        display:none;
        position:fixed;
        bottom:rem(50px);
        right:rem(50px);
        width:rem(40px);
        height:rem(40px);
        border:1px solid $main-color;
        font-size: rem(18px);
        font-weight: 300;
        color:$main-color;
        padding-top:rem(18px);
        text-align: center;
        background: $bg-color url("/assets/img/up_arrow.svg") center center no-repeat;
        background-size: 90% 50%;
        // &:hover, &:active{
        //     border-color:$point-color;
        //     color:$point-color;
        //     background-image:url("/assets/img/up_arrow_hover.svg");
        // }
    }
}

.inner{
    width:100%;
    max-width:1080px;
    margin:0 auto;
}

header{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:rem(70px);
    font-size: rem(24px);
    z-index:100;
    transition: all ease .5s;
    &.sticky{
        position:fixed;
        background-color:rgba(34,34,34,0.98);
        box-shadow: 0 0.5rem 1rem 0 #000;
    }
    .inner{
        display:flex;
        align-items: center;
        justify-content: space-between;
        height:100%;
    }
    h1{
        height:rem(30px);
        > a{
            display:inline-block;
            width:rem(30px);
            height:rem(30px);
            background:url("/assets/img/icon_home.svg") center center no-repeat;
            background-size: cover;
            // &:hover, &:active{
            //     background-image:url("/assets/img/icon_home_hover.svg");
            // }
        }
    }
    nav{
        display:flex;
        align-items: center;
        justify-content: flex-end;
        > div{
            display:none;
            > ul{
                display:flex;
                align-items: center;
                justify-content: space-between;
                > li{
                    margin-right:rem(40px);
                    > a{
                        position:relative;
                        font-size: rem(24px);
                        font-weight: 300;
                        color:$main-color;
                        &::after{
                            position:absolute;
                            display:block;
                            content:'';
                            bottom:rem(-4px);
                            left:0;
                            width:0;
                            height:1px;
                            background-color:$point-color;
                            opacity: 0;
                            transition:all ease 0.3s;
                        }
                        // &:hover, &:active{
                        //     color:$point-color;
                        //     &::after{
                        //         width:100%;
                        //         opacity: 1;
                        //     }
                        // }
                    }
                }
            }
        }
        > button{
            position:relative;
            width:rem(40px);
            height:rem(26px);
            text-indent: -9999px;
            > i{
                position:absolute;
                display:block;
                content:'';
                top:50%;
                left:0;
                width:100%;
                height:rem(2px);
                background-color:$main-color;
                transform: translateY(-50%);
                transition:all ease 0.3s;
            }
            &::before{
                position:absolute;
                display:block;
                content:'';
                top:rem(5px);
                left:0;
                width:100%;
                height:rem(2px);
                background-color:$main-color;
                transition:all ease 0.3s;
            }
            &::after{
                position:absolute;
                display:block;
                content:'';
                bottom:rem(5px);
                left:0;
                width:100%;
                height:rem(2px);
                background-color:$main-color;
                transition:all ease 0.3s;
            }
            // &:hover, &:active{
            //     > i{
            //         background-color:$point-color;
            //     }
            //     &::before{
            //         top:0;
            //         background-color:$point-color;
            //     }
            //     &::after{
            //         bottom:0;
            //         background-color:$point-color;
            //     }
            // }
            &.open{
                transition:all ease 0.3s;
                > i{
                    opacity:0;
                }
                &::before{
                    top:50%;
                    transform:translateY(-50%) rotate(-45deg);
                }
                &::after{
                    top:50%;
                    transform:translateY(-50%) rotate(45deg);
                }
                // &:hover, &:active{
                //     transform:rotate(90deg);
                //     &::before{
                //         background-color:$point-color;
                //     }
                //     &::after{
                //         background-color:$point-color;
                //     }
                // }
            }
        }
    }
}

section{
    flex:none;
}

.visual{
    position:relative;
    height:100vh;
    min-height:rem(700px);
    > .bg{
        position:absolute;
        display:block;
        top:0;
        bottom:0;
        left:0;
        right:0;
        background:url("/assets/img/bg_visual.jpg") center center no-repeat;
        background-size:cover;
        background-attachment:fixed;
        opacity:0.08;
    }
    &.sub{
        height:rem(500px);
        min-height:auto;
        > .bg{
            background-attachment:fixed;
            opacity:0.1;
        }
        > .bg01{
            background-image:url("/assets/img/bg04.jpg");
        }
        > .bg02{
            background-image:url("/assets/img/bg02.jpg");
        }
        > .bg03{
            background-image:url("/assets/img/bg03.jpg");
        }
        > .bg04{
            background-image:url("/assets/img/bg04.jpg");
        }
        > h2{
            position:absolute;
            top:50%;
            left:0;
            transform:translateY(-50%);
            width:100%;
            font-size: rem(24px);
            font-weight: 300;
            color:$txt-color;
            text-align: center;
            line-height:1.6em;
            > strong{
                font-size: rem(70px);
                font-weight: 700;
                color:$main-color;
                text-transform: uppercase;
            }
        }
    }
    .visual-txt{
        height:100%;
        .swiper-slide{
            position:relative;
            > p{
                position:absolute;
                width:100%;
                top:50%;
                left:0;
                transform: translateY(-50%);
                text-align: center;
                font-size: rem(40px);
                font-weight: 300;
                > strong{
                    font-size: rem(80px);
                    font-weight: 700;
                    text-transform: uppercase;
                }
            }
        }
    }
    > .btn-scrolldown{
        position:absolute;
        bottom:rem(40px);
        left:50%;
        transform:translateX(-50%);
        font-size: rem(16px);
        font-weight: 300;
        color:$main-color;
        z-index:10;
        text-align: center;
        &::after{
            position:absolute;
            content:'';
            display:block;
            width:rem(20px);
            height:rem(10px);
            top:rem(25px);
            left:50%;
            transform: translateX(-50%);
            background:url("/assets/img/down_arrow.svg") center center no-repeat;
            background-size:cover;
            animation: .8s ease-in infinite alternate scrollDown;
        }
        // &:hover, &:active{
        //     color:$point-color;
        //     &::after{
        //         background-image:url("/assets/img/down_arrow_hover.svg");
        //     }
        // }
    }
}

.contents{
    &.colored{
        background-color:$bg-sub-color;
    }
    &:nth-child(2n){
        background-color:$bg-sub-color;
    }
    .inner{
        padding:rem(100px 0);
    }
    h2{
        text-align: center;
        font-size: rem(20px);
        font-weight: 300;
        color: $txt-color;
        margin-bottom:rem(80px);
        > strong{
            font-size: rem(48px);
            font-weight: 700;
            color:$main-color;
            text-transform: uppercase;
        }
    }
    h3{
        text-align: center;
        font-size: rem(18px);
        font-weight: 300;
        color: $txt-color;
        margin-bottom:rem(60px);
        line-height:1.6em;
        > strong{
            font-size: rem(36px);
            font-weight: 700;
            color:$main-color;
        }
    }
}

.profile{
    font-size: 0;
    > .left{
        display:inline-block;
        width:rem(360px);
        vertical-align: top;
        > img{
            width:100%;
            border-radius: rem(20px);
        }
    }
    > .right{
        display:inline-block;
        width:calc(100% - 36rem);
        padding-left:rem(40px);
        vertical-align: top;
        .title{
            font-size: rem(24px);
            font-weight: 300;
            margin:rem(50px 0 20px);
            > strong{
                font-weight: 700;
            }
            &:first-of-type{
                margin-top:0;
            }
        }
        > dl{
            font-size: 0;
            dt {
                display:inline-block;
                width:rem(120px);
                font-size: rem(18px);
                font-weight: 700;
                vertical-align: top;
                line-height:1.8em;
            }
            dd {
                display:inline-block;
                width:calc(100% - 12rem);
                font-size: rem(18px);
                color:$point-color;
                vertical-align: top;
                line-height:1.8em;
            }
        }
        .introduce {
            font-size: rem(16px);
            font-weight: 300;
            color:$txt-color;
            margin:rem(20px 0);
            line-height:2em;
        }
    }
}

.logo-list{
    font-size: 0;
    &.center{
        text-align: center;
    }
    > li{
        position:relative;
        display:inline-block;
        width:rem(60px);
        height:rem(60px);
        vertical-align: top;
        background-repeat: no-repeat;
        background-position:center center;
        background-size:cover;
        background-color: #444;
        border-radius: rem(10px);
        margin-right:rem(20px);
        &:last-child{
            margin-right:0;
        }
        &.html{
            background-image:url("/assets/img/logo_html5.png");
        }
        &.css{
            background-image:url("/assets/img/logo_css3.png");
        }
        &.sass{
            background-image:url("/assets/img/logo_sass.png");
        }
        &.javascript{
            background-image:url("/assets/img/logo_js.png");
        }
        &.jquery{
            background-image:url("/assets/img/logo_jquery.png");
        }
        &.gulp{
            background-image:url("/assets/img/logo_gulp.png");
        }
        &.git{
            background-image:url("/assets/img/logo_git.png");
        }
        &.vscode{
            background-image:url("/assets/img/logo_vscode.png");
        }
        &.photoshop{
            background-image:url("/assets/img/logo_photoshop.png");
        }
        &.sourcetree{
            background-image:url("/assets/img/logo_sourcetree.png");
        }
        &.zeplin{
            background-image:url("/assets/img/logo_zeplin.png");
        }
        &.slack{
            background-image:url("/assets/img/logo_slack.png");
        }
        > span.show{
            position:absolute;
            display:block;
            bottom:0;
            left:50%;
            transform:translate(-50%, 100%);
            padding:rem(4px 10px);
            border:1px solid $point-color;
            background-color:#222;
            font-size: rem(14px);
            font-weight: 300;
            color:$point-color;
            z-index:10;
        }
    }
}

.timeline{
    position:relative;
    padding:rem(50px 0);
    &::before{
        position:absolute;
        content:'';
        display:block;
        top:0;
        left:50%;
        transform: translateX(-50%);
        width:1px;
        height:100%;
        background-color:$point-color;
    }
    > li{
        position:relative;
        padding-right:50%;
        & + li{
            margin-top:rem(40px);
        }
        &::before{
            position:absolute;
            display:block;
            content:'';
            top:50%;
            left:50%;
            transform: translate(-50%, -50%);
            width:rem(15px);
            height:rem(15px);
            background-color:$main-color;
            border:0.5rem solid $txt-color;
            border-radius: 50%;
        }
        > p{
            text-align: right;
            padding-right:rem(50px);
            font-size: rem(20px);
            font-weight: 300;
            color:$point-color;
            > span{
                display:inline-block;
                font-size: rem(26px);
                font-weight: 700;
                color:$main-color;
                margin-right:rem(20px);
            }
            &.term{
                font-size: rem(20px);
                font-weight: 300;
                color:$txt-color;
            }
        }
        &:nth-child(2n){
            padding-right:0;
            padding-left:50%;
            > p{
                text-align: left;
                padding-right:0;
                padding-left:rem(50px);
            }
        }
    }
}

.work-list{
    font-size: 0;
    margin-top:rem(-60px);
    > li{
        position:relative;
        display:inline-block;
        width:calc((100% - 6rem) / 3);
        margin-right:rem(30px);
        margin-top:rem(60px);
        vertical-align: top;
        text-align: center;
        &:nth-child(3n){
            margin-right:0;
        }
        .img-wrap{
            overflow: hidden;
            border-radius: rem(20px);
            > img{
                display:block;
                width:100%;
                filter: grayscale(100%);
                transition: all ease .5s;
            }
        }
        // &:hover, &:active{
        //     .img-wrap{
        //         > img{
        //             filter: grayscale(0%);
        //             transform: scale(1.1);
        //         }
        //     }
        //     .title{
        //         color:$point-color;
        //     }
        // }
        .category{
            font-size: rem(20px);
            font-weight: 300;
            color:$point-color;
            margin-top:rem(10px);
        }
        .title{
            font-size: rem(22px);
            font-weight: 700;
            margin-top:rem(5px);
        }
        .term{
            font-size: rem(20px);
            font-weight: 300;
            color:$txt-color;
            margin-top:rem(5px);
        }
    }
}

.career-list{
    > li{
        padding:rem(30px 0);
        border-top: 1px dashed $txt-color;
        &:first-child{
            padding-top:0;
            border-top:0;
        }
        > div{
            display:flex;
            align-items: flex-end;
            justify-content: space-between;
            > p{
                font-size: rem(30px);
                font-weight: 300;
                color:$point-color;
                > span{
                    font-size: rem(20px);
                    color:$txt-color;
                    font-weight: 300;
                }
                &.term{
                    font-size: rem(22px);
                    color:$main-color;
                    font-weight: 300;
                }
            }
        }
        > p{
            font-size: rem(20px);
            color:$txt-color;
            font-weight: 300;
            margin-top:rem(10px);
        }
    }
}

.port-list{
    margin-top:rem(-50px);
    .grid__col-sizer {
        width: calc((100% - 6rem) / 3);
    }
    .grid__gutter-sizer {
        width: rem(30px);
    }
    > .port-item{
        width:calc((100% - 6rem) / 3);
        // margin-bottom:rem(30px);
        margin-top:rem(50px);
        text-align: center;
        .img-wrap{
            overflow: hidden;
            border-radius: rem(20px);
            > img{
                display:block;
                width:100%;
                transition: all ease .5s;
            }
        }
        // &:hover, &:active{
        //     .img-wrap{
        //         > img{
        //             transform: scale(1.1);
        //         }
        //     }
        //     .title{
        //         color:$point-color;
        //     }
        // }
        .category{
            font-size: rem(20px);
            font-weight: 300;
            color:$point-color;
            margin-top:rem(10px);
        }
        .title{
            font-size: rem(22px);
            font-weight: 700;
            margin-top:rem(5px);
        }
        .term{
            font-size: rem(20px);
            font-weight: 300;
            color:$txt-color;
            margin-top:rem(5px);
        }
    }
}

/* infinite scroll loader */
.page-load-status {
    display: none; /* hidden by default */
    text-align: center;
    color: $txt-color;
    .loader-ellips {
        font-size: rem(20px); /* change size here */
        position: relative;
        width: 4em;
        height: 1em;
        margin: 10px auto;
        .loader-ellips__dot {
            display: block;
            width: 1em;
            height: 1em;
            border-radius: 0.5em;
            background: $txt-color; /* change color here */
            position: absolute;
            animation-duration: 0.5s;
            animation-timing-function: ease;
            animation-iteration-count: infinite;
            &:nth-child(1){
                left: 0;
                animation-name: reveal;
            }
            &:nth-child(2){
                left: 0;
                animation-name: slide;
            }
            &:nth-child(3){
                left: 1.5em;
                animation-name: slide;
            }
            &:nth-child(4){
                left: 1.5em;
                animation-name: reveal;
                animation-direction: reverse;
            }
        }
    }
    > p{
        margin-top:rem(80px);
        padding-top:rem(40px);
        border-top:1px dashed $txt-color;
        font-size: rem(30px);
        font-weight: 300;
    }
}

.contact-home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    > li{
        padding-left:rem(35px);
        font-size: rem(20px);
        background-repeat:no-repeat;
        background-position:left top;
        background-size:rem(24px 24px);
        &.address{
            background-image:url("/assets/img/icon_pin.svg");
        }
        &.phone{
            background-image:url("/assets/img/icon_phone.svg");
        }
        &.email{
            background-image:url("/assets/img/icon_mail.svg");
        }
        &.website{
            background-image:url("/assets/img/icon_home_hover.svg");
        }
        > p{
            font-size: rem(20px);
            font-weight: 300;
            color:$point-color;
        }
    }
}

footer{
    padding:rem(50px 0);
    margin-top:auto;
    .sns-list{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom:rem(30px);
        > li{
            & + li{
                margin-left:rem(30px);
            }
            > a{
                display:block;
                width:rem(40px);
                height:rem(40px);
                background-repeat:no-repeat;
                background-position: center center;
                background-size:cover;
                &.github{
                    background-image:url("/assets/img/icon_github.svg");
                }
                &.linkedin{
                    background-image:url("/assets/img/icon_linkedin.svg");
                }
                &.insta{
                    background-image:url("/assets/img/icon_insta.svg");
                }
                // &:hover, &:active{
                //     &.github{
                //         background-image:url("/assets/img/icon_github_hover.svg");
                //     }
                //     &.linkedin{
                //         background-image:url("/assets/img/icon_linkedin_hover.svg");
                //     }
                //     &.insta{
                //         background-image:url("/assets/img/icon_insta_hover.svg");
                //     }
                // }
            }
        }
    }
    p{
        font-size: rem(24px);
        font-weight: 300;
        text-align: center;
        &.notice{
            font-size: rem(14px);
            font-weight: 300;
            color:$txt-color;
            margin-top:rem(10px);
        }
    }
}

.mail-form{
    font-size: 0;
    margin-top:rem(50px);
    > div{
        display:inline-block;
        width:50%;
        vertical-align: top;
        &.left{
            padding-right:rem(20px);
        }
        &.right{
            padding-left:rem(20px);
        }
        > label{
            display:inline-block;
            font-size: rem(20px);
            font-weight: 300;
            margin-bottom:rem(5px);
        }
        > input{
            & + label{
                margin-top:rem(20px);
            }
        }
        > textarea{
            height:rem(208px);
        }
    }
}

.under-construction{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    > img{
        width:rem(200px);
    }
    > p{
        font-size: rem(50px);
        text-align: center;
        margin-top:rem(-30px);
        > span{
            font-size: rem(22px);
            font-weight: 300;
            color:$point-color;
        }
    }
}

/* button */
.btn-wrap{
    margin-top:rem(80px);
    &.center{
        text-align: center;
    }
}
.btn{
    position:relative;
    display:inline-block;
    font-size: rem(24px);
    font-weight: 300;
    color:$point-color;
    padding:rem(10px 50px);
    border: 1px solid $point-color;
    overflow: hidden;
    vertical-align: top;
    &::before{
        position:absolute;
        display:block;
        content:'';
        top:0;
        bottom:0;
        left:0;
        right:0;
        background-color:$point-color;
        transition: all ease .5s;
        z-index:-1;
        transform: translateX(-100%);
    }
    // &:hover, &:active {
    //     color: $main-color;
    //     &::before { transform: translateX(0); }
    // }
}

/* form */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill
{
    &, &:hover, &:focus, &:active, &:valid
    {
        -webkit-text-fill-color:$main-color;
        -webkit-box-shadow: 0 0 0px 1000px $bg-sub-color inset !important;
    }
}
input[type="text"]{
    width:100%;
    height:rem(34px);
    line-height:rem(32px);
    padding:rem(0 10px);
    background-color:$bg-sub-color;
    border:1px solid $main-color;
    font-size: rem(16px);
    font-weight: 300;
    color:$main-color!important;
    border-radius:0;
    &::placeholder{
        color:$txt-color;
    }
    &:focus{
        border-color:$point-color;
    }
}
textarea{
    width:100%;
    padding:rem(5px 10px);
    background-color:$bg-sub-color;
    border:1px solid $main-color;
    font-size: rem(16px);
    font-weight: 300;
    border-radius:0;
    &::placeholder{
        color:$txt-color;
    }
    &:focus{
        border-color:$point-color;
    }
}


@media all and (max-width:1079px){
    html{
        font-size: 14px;
        // font-size: 10px;
    }
    .p-only{
        display:none!important;
    }
    .m-only{
        display:block!important;
    }

    .wrap{
        .btn-top{
            bottom:rem(20px);
            right:rem(20px);
            width:rem(30px);
            height:rem(30px);
            background: rgba(34,34,34,0.5) url("/assets/img/up_arrow.svg") center center no-repeat;
            background-size: 90% 50%;
            &:active{
                border-color:$point-color;
                color:$point-color;
                background-image:url("/assets/img/up_arrow_hover.svg");
            }
        }
    }

    .inner{
        max-width:auto;
        padding:rem(0 15px);
    }

    header{
        height:rem(50px);
        font-size: rem(12px);
        h1{
            height:rem(25px);
            > a{
                width:rem(25px);
                height:rem(25px);
                &:active{
                    background-image:url("/assets/img/icon_home_hover.svg");
                }
            }
        }
        nav{
            > div{
                position:absolute;
                top:0;
                left:0;
                width:100%;
                height: 100vh;
                background-color: $bg-color;
                &.open{
                    > ul{
                        position:absolute;
                        top:50%;
                        left:50%;
                        transform: translate(-50%, -50%);
                        text-align: center;
                        flex-direction: column;
                    }
                }
                > ul{
                    > li{
                        margin-right:0;
                        & + li{
                            margin-top:rem(20px);
                        }
                        > a{
                            font-size: rem(30px);
                            &:active{
                                color:$point-color;
                                &::after{
                                    width:100%;
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
            > button{
                width:rem(25px);
                height:rem(30px);
                &:active{
                    > i{
                        background-color:$point-color;
                    }
                    &::before{
                        background-color:$point-color;
                    }
                    &::after{
                        background-color:$point-color;
                    }
                }
                // &.open{
                //     &:active{
                //         transform:rotate(90deg);
                //         &::before{
                //             background-color:$point-color;
                //         }
                //         &::after{
                //             background-color:$point-color;
                //         }
                //     }
                // }
            }
        }
    }

    .visual{
        height:100%;
        min-height:auto;
        > .bg{
            background:url("/assets/img/bg_visual_m.jpg") center center no-repeat;
            background-size:cover;
            background-attachment:fixed;
        }
        &.sub{
            height:100%;
            > .bg01{
                background:url("/assets/img/bg04_m.jpg") center center no-repeat;
                background-size:cover;
                background-attachment:fixed;
            }
            > .bg02{
                background:url("/assets/img/bg02_m.jpg") center center no-repeat;
                background-size:cover;
                background-attachment:fixed;
            }
            > .bg03{
                background:url("/assets/img/bg03_m.jpg") center center no-repeat;
                background-size:cover;
                background-attachment:fixed;
            }
            > .bg04{
                background:url("/assets/img/bg04_m.jpg") center center no-repeat;
                background-size:cover;
                background-attachment:fixed;
            }
            > h2{
                font-size: rem(18px);
                > strong{
                    font-size: rem(50px);
                }
            }
        }
        .visual-txt{
            .swiper-slide{
                > p{
                    padding:rem(0 15px);
                    font-size: rem(20px);
                    > strong{
                        display:block;
                        font-size: rem(50px);
                        line-height: 1.2em;
                        margin-top:rem(20px);
                    }
                }
            }
        }
        > .btn-scrolldown{
            &:active{
                color:$point-color;
                &::after{
                    background-image:url("/assets/img/down_arrow_hover.svg");
                }
            }
        }
    }

    .contents{
        .inner{
            padding:rem(60px 15px);
        }
        h2{
            font-size: rem(16px);
            margin-bottom:rem(30px);
            line-height:1.4em;
            > strong{
                font-size: rem(30px);
            }
        }
        h3{
            font-size: rem(14px);
            margin-bottom:rem(30px);
            > strong{
                font-size: rem(30px);
            }
        }
    }

    .profile{
        > .left{
            width:100%;
            > img{
                border-radius: rem(10px);
            }
        }
        > .right{
            width:100%;
            padding-left:0;
            padding-top:rem(20px);
            .title{
                font-size: rem(20px);
                font-weight: 300;
                margin:rem(30px 0 10px);
            }
            > dl{
                dt {
                    width:rem(90px);
                    font-size: rem(14px);
                    line-height:1.6em;
                }
                dd {
                    width:calc(100% - 9rem);
                    font-size: rem(14px);
                    line-height:1.6em;
                }
            }
            .introduce {
                font-size: rem(14px);
                margin-bottom:0;
                line-height:1.6em;
            }
        }
    }

    .logo-list{
        margin-top:rem(-8px);
        > li{
            width:rem(45px);
            height:rem(45px);
            border-radius: rem(10px);
            margin-right:rem(8px);
            margin-top:rem(8px);
            > span.show{
                transform: translate(-50%, 100%);
                padding:rem(2px 8px);
                font-size: rem(12px);
            }
        }
    }

    .timeline{
        position:relative;
        padding:rem(30px 0);
        &::before{
            left:rem(10px);
            transform: translateX(0);
        }
        > li{
            padding-right:0;
            padding-left:rem(40px);
            & + li{
                margin-top:rem(40px);
            }
            &::before{
                top:50%;
                left:0;
                transform: translate(0, -50%);
                width:rem(10px);
                height:rem(10px);
            }
            > p{
                text-align: left;
                padding-right:0;
                font-size: rem(14px);
                > span{
                    font-size: rem(18px);
                    font-weight: 400;
                    margin-right:rem(10px);
                }
                &.term{
                    font-size: rem(16px);
                }
            }
            &:nth-child(2n){
                padding-left:rem(40px);
                > p{
                    padding-left:0;
                }
            }
        }
    }

    .work-list{
        margin-top:rem(-30px);
        > li{
            width:calc((100% - 1.5rem) / 2);
            margin-right:rem(15px);
            margin-top:rem(30px);
            &:nth-child(3n){
                margin-right:rem(15px);
            }
            &:nth-child(2n){
                margin-right:0;
            }
            .img-wrap{
                border-radius: rem(10px);
                > img{
                    filter: grayscale(0%);
                }
            }
            &:active{
                .img-wrap{
                    > img{
                        filter: grayscale(0%);
                        transform: scale(1.1);
                    }
                }
                .title{
                    color:$point-color;
                }
            }
            .category{
                font-size: rem(14px);
                margin-top:rem(5px);
            }
            .title{
                font-size: rem(16px);
                font-weight: 500;
                margin-top:0;
            }
            .term{
                font-size: rem(14px);
                margin-top:0;
            }
        }
    }

    .career-list{
        > li{
            padding:rem(20px 0);
            > div{
                > p{
                    font-size: rem(16px);
                    > span{
                        font-size: rem(12px);
                    }
                    &.term{
                        font-size: rem(14px);
                    }
                }
            }
            > p{
                font-size: rem(12px);
                margin-top:rem(5px);
            }
        }
    }

    .port-list{
        margin-top:rem(-40px);
        .grid__col-sizer {
            width: calc((100% - 1.5rem) / 2);
        }
        .grid__gutter-sizer {
            width: rem(15px);
        }
        > .port-item{
            width:calc((100% - 1.5rem) / 2);
            margin-top:rem(40px);
            .img-wrap{
                border-radius: rem(10px);
            }
            &:active{
                .img-wrap{
                    > img{
                        transform: scale(1.1);
                    }
                }
                .title{
                    color:$point-color;
                }
            }
            .category{
                font-size: rem(14px);
                margin-top:rem(5px);
            }
            .title{
                font-size: rem(16px);
                font-weight: 500;
                margin-top:0;
            }
            .term{
                font-size: rem(14px);
                margin-top:0;
            }
        }
    }

    /* infinite scroll loader */
    .page-load-status {
        > p{
            margin-top:rem(40px);
            padding-top:rem(20px);
            font-size: rem(20px);
        }
    }

    .contact-home{
        flex-wrap: wrap;
        padding-left:rem(10px);
        > li{
            width:55%;
            padding-left:rem(25px);
            font-size: rem(16px);
            background-size:rem(18px 18px);
            &:nth-child(3), &:nth-child(4){
                margin-top:rem(30px);
            }
            &:nth-child(2n){
                width:45%;
            }
            > p{
                font-size: rem(14px);
                margin-top:rem(4px);
            }
        }
    }

    footer{
        padding:rem(30px 0);
        .sns-list{
            margin-bottom:rem(15px);
            > li{
                & + li{
                    margin-left:rem(20px);
                }
                > a{
                    width:rem(30px);
                    height:rem(30px);
                    &:active{
                        &.github{
                            background-image:url("/assets/img/icon_github_hover.svg");
                        }
                        &.linkedin{
                            background-image:url("/assets/img/icon_linkedin_hover.svg");
                        }
                        &.insta{
                            background-image:url("/assets/img/icon_insta_hover.svg");
                        }
                    }
                }
            }
        }
        p{
            font-size: rem(20px);
            &.notice{
                font-size: rem(10px);
                margin-top:rem(8px);
            }
        }
    }

    .mail-form{
        margin-top:rem(40px);
        > div{
            width:100%;
            &.left{
                padding-right:0;
            }
            &.right{
                padding-left:0;
                margin-top:rem(15px);
            }
            > label{
                font-size: rem(18px);
            }
            > input{
                & + label{
                    margin-top:rem(15px);
                }
            }
            > textarea{
                height:rem(150px);
            }
        }
    }

    .under-construction{
        > img{
            width:rem(120px);
        }
        > p{
            font-size: rem(24px);
            text-align: center;
            margin-top:rem(-20px);
            > span{
                font-size: rem(14px);
                font-weight: 300;
                color:$point-color;
            }
        }
    }

    /* button */
    .btn-wrap{
        margin-top:rem(40px);
    }
    .btn{
        font-size: rem(20px);
        padding:rem(5px 30px);
        &:active {
            color: $main-color;
            &::before { transform: translateX(0); }
        }
    }

    /* form */
    input[type="text"]{
        height:rem(30px);
        line-height:rem(28px);
        padding:rem(0 5px);
        font-size: rem(12px);
    }
    textarea{
        padding:rem(5px 5px);
        font-size: rem(12px);
    }
}

@media all and (max-width:768px){
    html{
        font-size: 13px;
    }
}

@media all and (max-width:640px){
    html{
        font-size: 12px;
    }
}

@media all and (max-width:480px){
    html{
        font-size: 10px;
    }
}

@media all and (max-width:359px){
    html{
        font-size: 9px;
    }
}

@media all and (max-width:320px){
    html{
        font-size: 8px;
    }
}

@media (hover: hover) and (pointer: fine) {
    .wrap{
        .btn-top{
            &:hover{
                border-color:$point-color;
                color:$point-color;
                background-image:url("/assets/img/up_arrow_hover.svg");
            }
        }
    }

    header{
        h1{
            > a{
                &:hover{
                    background-image:url("/assets/img/icon_home_hover.svg");
                }
            }
        }
        nav{
            > div{
                > ul{
                    > li{
                        > a{
                            &:hover{
                                color:$point-color;
                                &::after{
                                    width:100%;
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
            > button{
                &:hover{
                    > i{
                        background-color:$point-color;
                    }
                    &::before{
                        top:0;
                        background-color:$point-color;
                    }
                    &::after{
                        bottom:0;
                        background-color:$point-color;
                    }
                }
                &.open{
                    &:hover{
                        transform:rotate(90deg);
                        &::before{
                            top:50%;
                            transform:translateY(-50%) rotate(-45deg);
                            background-color:$point-color;
                        }
                        &::after{
                            top:50%;
                            transform:translateY(-50%) rotate(45deg);
                            background-color:$point-color;
                        }
                    }
                }
            }
        }
    }

    .visual{
        > .btn-scrolldown{
            &:hover{
                color:$point-color;
                &::after{
                    background-image:url("/assets/img/down_arrow_hover.svg");
                }
            }
        }
    }

    .work-list{
        > li{
            &:hover{
                .img-wrap{
                    > img{
                        filter: grayscale(0%);
                        transform: scale(1.1);
                    }
                }
                .title{
                    color:$point-color;
                }
            }
        }
    }

    .port-list{
        > .port-item{
            &:hover{
                .img-wrap{
                    > img{
                        transform: scale(1.1);
                    }
                }
                .title{
                    color:$point-color;
                }
            }
        }
    }

    footer{
        .sns-list{
            > li{
                > a{
                    &:hover{
                        &.github{
                            background-image:url("/assets/img/icon_github_hover.svg");
                        }
                        &.linkedin{
                            background-image:url("/assets/img/icon_linkedin_hover.svg");
                        }
                        &.insta{
                            background-image:url("/assets/img/icon_insta_hover.svg");
                        }
                    }
                }
            }
        }
    }

    .btn{
        &:hover{
            color: $main-color;
            &::before { transform: translateX(0); }
        }
    }
}

/* loading animation */
@keyframes loadMove {
    0% {
        left:0;
        opacity:0;
    }
    35% {
        left: 41%;
        transform:rotate(0deg);
        opacity:1;
    }
    65% {
        left:59%;
        transform:rotate(0deg);
        opacity:1;
    }
    100% {
        left:100%;
        transform:rotate(-180deg);
        opacity:0;
    }
}

/* scroll down arrow animation */
@keyframes scrollDown { to { top:rem(40px); }  }


/* infinite scroll loading animation */
@keyframes reveal {
    from { transform: scale(0.001); }
    to { transform: scale(1); }
}

@keyframes slide {
    to { transform: translateX(1.5em) }
}
