@charset "UTF-8";

@import "import/lib-fonts";
@import "base";
@import "import/typography";
@import "import/reset-css";

/* clearfix */
.clearfix{
	*zoom:1;
	&:before, &:after{
		content:'';
		display:block;
	}
	&:after{
		clear:both;
	}
}

/* hidden */
.hidden {
    overflow: hidden;
    border: 0;
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
}

html, body{
    height:100%;
    background-color:$bg-color;
}

.wrap{
    position:relative;
    display: flex;
    flex-direction: column;
    height:100%;
    .btn-top{
        display:none;
        position:fixed;
        bottom:rem(50px);
        right:rem(50px);
        width:rem(50px);
        height:rem(50px);
        border:1px solid $main-color;
        font-size: rem(18px);
        font-weight: 300;
        color:$main-color;
        padding-top:rem(18px);
        text-align: center;
        background: $bg-color url("/assets/img/up_arrow.svg") center 18% no-repeat;
        background-size: 80% 40%;
        &:hover, &:active{
            border-color:$point-color;
            color:$point-color;
            background-image:url("/assets/img/up_arrow_hover.svg");
        }
    }
}

.inner{
    width:100%;
    max-width:1080px;
    margin:0 auto;
}

header{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:rem(70px);
    font-size: rem(24px);
    z-index:100;
    transition: all ease .5s;
    &.sticky{
        position:fixed;
        background-color:rgba(34,34,34,0.98);
        box-shadow: 0 0.5rem 1rem 0 #000;
    }
    .inner{
        display:flex;
        align-items: center;
        justify-content: space-between;
        height:100%;
    }
    h1{
        > a{
            display:inline-block;
            width:rem(30px);
            height:rem(30px);
            background:url("/assets/img/icon_home.svg") no-repeat;
            background-size: cover;
            margin-top:rem(8px);
            &:hover, &:active{
                background-image:url("/assets/img/icon_home_hover.svg");
            }
        }
    }
    nav{
        display:flex;
        align-items: center;
        justify-content: flex-end;
        > ul{
            display:none;
            align-items: center;
            justify-content: space-between;
            > li{
                margin-right:rem(40px);
                > a{
                    position:relative;
                    font-size: rem(24px);
                    font-weight: 300;
                    color:$main-color;
                    &::after{
                        position:absolute;
                        display:block;
                        content:'';
                        bottom:rem(-4px);
                        left:0;
                        width:0;
                        height:1px;
                        background-color:$point-color;
                        opacity: 0;
                        transition:all ease 0.3s;
                    }
                    &:hover, &:active{
                        color:$point-color;
                        &::after{
                            width:100%;
                            opacity: 1;
                        }
                    }
                }
            }
        }
        > button{
            position:relative;
            width:rem(40px);
            height:rem(26px);
            text-indent: -9999px;
            > i{
                position:absolute;
                display:block;
                content:'';
                top:50%;
                left:0;
                width:100%;
                height:rem(2px);
                background-color:$main-color;
                transform: translateY(-50%);
                transition:all ease 0.3s;
            }
            &::before{
                position:absolute;
                display:block;
                content:'';
                top:rem(5px);
                left:0;
                width:100%;
                height:rem(2px);
                background-color:$main-color;
                transition:all ease 0.3s;
            }
            &::after{
                position:absolute;
                display:block;
                content:'';
                bottom:rem(5px);
                left:0;
                width:100%;
                height:rem(2px);
                background-color:$main-color;
                transition:all ease 0.3s;
            }
            &:hover, &:active{
                > i{
                    background-color:$point-color;
                }
                &::before{
                    top:0;
                    background-color:$point-color;
                }
                &::after{
                    bottom:0;
                    background-color:$point-color;
                }
            }
            &.open{
                transition:all ease 0.3s;
                > i{
                    opacity:0;
                }
                &::before{
                    top:50%;
                    transform:translateY(-50%) rotate(-45deg);
                }
                &::after{
                    top:50%;
                    transform:translateY(-50%) rotate(45deg);
                }
                &:hover, &:active{
                    transform:rotate(90deg);
                    &::before{
                        background-color:$point-color;
                    }
                    &::after{
                        background-color:$point-color;
                    }
                }
            }
        }
    }
}

section{
    flex:none;
}

.visual{
    position:relative;
    height:100vh;
    min-height:rem(700px);
    > .bg{
        position:absolute;
        display:block;
        top:0;
        bottom:0;
        left:0;
        right:0;
        background:url("/assets/img/bg_visual.jpg") no-repeat;
        background-size:cover;
        opacity:0.08;
    }
    &.sub{
        height:rem(500px);
        min-height:auto;
        > .bg{
            background-attachment:fixed;
        }
        > .bg01{
            background-image:url("/assets/img/bg01.jpg");
        }
        > .bg02{
            background-image:url("/assets/img/bg02.jpg");
        }
        > .bg03{
            background-image:url("/assets/img/bg03.jpg");
        }
        > .bg04{
            background-image:url("/assets/img/bg04.jpg");
        }
        > h2{
            position:absolute;
            top:50%;
            left:0;
            transform:translateY(-50%);
            width:100%;
            font-size: rem(24px);
            font-weight: 300;
            color:$txt-color;
            text-align: center;
            line-height:1.6em;
            > strong{
                font-size: rem(70px);
                font-weight: 700;
                color:$main-color;
                text-transform: uppercase;
            }
        }
    }
    .visual-txt{
        height:100%;
        .swiper-slide{
            position:relative;
            > p{
                position:absolute;
                width:100%;
                top:50%;
                left:0;
                transform: translateY(-50%);
                text-align: center;
                font-size: rem(40px);
                font-weight: 300;
                > strong{
                    font-size: rem(80px);
                    font-weight: 700;
                    text-transform: uppercase;
                }
            }
        }
    }
    > .btn-scrolldown{
        position:absolute;
        bottom:rem(40px);
        left:50%;
        transform:translateX(-50%);
        font-size: rem(16px);
        font-weight: 300;
        color:$main-color;
        z-index:10;
        text-align: center;
        &::after{
            position:absolute;
            content:'';
            display:block;
            width:rem(20px);
            height:rem(10px);
            top:rem(25px);
            left:50%;
            transform: translateX(-50%);
            background:url("/assets/img/down_arrow.svg") center center no-repeat;
            background-size:cover;
            animation: .8s ease-in infinite alternate scrollDown;
        }
        &:hover, &:active{
            color:$point-color;
            &::after{
                background-image:url("/assets/img/down_arrow_hover.svg");
            }
        }
    }
}

.contents{
    &.colored{
        background-color:$bg-sub-color;
    }
    .inner{
        padding:rem(100px 0);
    }
    h2{
        text-align: center;
        font-size: rem(20px);
        font-weight: 300;
        color: $txt-color;
        margin-bottom:rem(80px);
        > strong{
            font-size: rem(48px);
            font-weight: 700;
            color:$main-color;
            text-transform: uppercase;
        }
    }
}

.profile{
    font-size: 0;
    > img{
        display:inline-block;
        width:rem(360px);
        height:auto;
        flex:none;
        border-radius: rem(20px);
        vertical-align: top;
    }
    > div{
        display:inline-block;
        width:calc(100% - 36rem);
        padding-left:rem(40px);
        vertical-align: top;
        .title{
            font-size: rem(24px);
            font-weight: 300;
            margin:rem(50px 0 20px);
            > strong{
                font-weight: 700;
            }
            &:first-of-type{
                margin-top:0;
            }
        }
        > dl{
            font-size: 0;
            dt {
                display:inline-block;
                width:rem(120px);
                font-size: rem(18px);
                font-weight: 700;
                vertical-align: top;
                line-height:1.8em;
            }
            dd {
                display:inline-block;
                width:calc(100% - 12rem);
                font-size: rem(18px);
                color:$point-color;
                vertical-align: top;
                line-height:1.8em;
            }
        }
        .introduce {
            font-size: rem(16px);
            font-weight: 300;
            color:$txt-color;
            margin:rem(20px 0);
            line-height:2em;
        }
        .logo-list{
            font-size: 0;
            > li{
                position:relative;
                display:inline-block;
                width:rem(60px);
                height:rem(60px);
                vertical-align: top;
                background-repeat: no-repeat;
                background-size:cover;
                background-color: #444;
                border-radius: rem(10px);
                & + li{
                    margin-left:rem(20px);
                }
                &.html{
                    background-image:url("/assets/img/logo_html5.png");
                }
                &.css{
                    background-image:url("/assets/img/logo_css3.png");
                }
                &.sass{
                    background-image:url("/assets/img/logo_sass.png");
                }
                &.javascript{
                    background-image:url("/assets/img/logo_js.png");
                }
                &.jquery{
                    background-image:url("/assets/img/logo_jquery.png");
                }
                &.gulp{
                    background-image:url("/assets/img/logo_gulp.png");
                }
                &.git{
                    background-image:url("/assets/img/logo_git.png");
                }
                &.vscode{
                    background-image:url("/assets/img/logo_vscode.png");
                }
                &.photoshop{
                    background-image:url("/assets/img/logo_photoshop.png");
                }
                &.sourcetree{
                    background-image:url("/assets/img/logo_sourcetree.png");
                }
                &.zeplin{
                    background-image:url("/assets/img/logo_zeplin.png");
                }
                &.slack{
                    background-image:url("/assets/img/logo_slack.png");
                }
                > span.show{
                    position:absolute;
                    display:block;
                    bottom:rem(-30px);
                    left:50%;
                    transform:translateX(-50%);
                    padding:rem(4px 10px);
                    border:1px solid $point-color;
                    background-color:#222;
                    font-size: rem(14px);
                    font-weight: 300;
                    color:$point-color;
                    z-index:10;
                }
            }
        }
    }
}

.timeline{
    position:relative;
    padding:rem(50px 0);
    &::before{
        position:absolute;
        content:'';
        display:block;
        top:0;
        left:50%;
        transform: translateX(-50%);
        width:1px;
        height:100%;
        background-color:$point-color;
    }
    > li{
        position:relative;
        padding-right:50%;
        & + li{
            margin-top:rem(40px);
        }
        &::before{
            position:absolute;
            display:block;
            content:'';
            top:50%;
            left:50%;
            transform: translate(-50%, -50%);
            width:rem(15px);
            height:rem(15px);
            background-color:$main-color;
            border:0.5rem solid $txt-color;
            border-radius: 50%;
        }
        > p{
            text-align: right;
            padding-right:rem(50px);
            font-size: rem(20px);
            font-weight: 300;
            color:$point-color;
            > span{
                display:inline-block;
                font-size: rem(26px);
                font-weight: 700;
                color:$main-color;
                margin-right:rem(20px);
            }
            &.term{
                font-size: rem(20px);
                font-weight: 300;
                color:$txt-color;
            }
        }
        &:nth-child(2n){
            padding-right:0;
            padding-left:50%;
            > p{
                text-align: left;
                padding-right:0;
                padding-left:rem(50px);
            }
        }
    }
}

.gallery{
    font-size: 0;
    margin-top:rem(-60px);
    > li{
        position:relative;
        display:inline-block;
        width:calc((100% - 6rem) / 3);
        margin-right:rem(30px);
        margin-top:rem(60px);
        vertical-align: top;
        text-align: center;
        &:nth-child(3n){
            margin-right:0;
        }
        .img-wrap{
            overflow: hidden;
            border-radius: rem(20px);
            > img{
                width:100%;
                filter: grayscale(100%);
                transition: all ease .5s;
            }
        }
        &:hover, &:active{
            .img-wrap{
                > img{
                    filter: grayscale(0%);
                    transform: scale(1.1);
                }
            }
            .title{
                color:$point-color;
            }
        }
        .category{
            font-size: rem(20px);
            font-weight: 300;
            color:$point-color;
            margin-top:rem(10px);
        }
        .title{
            font-size: rem(22px);
            font-weight: 700;
            margin-top:rem(5px);
        }
        .term{
            font-size: rem(20px);
            font-weight: 300;
            color:$txt-color;
            margin-top:rem(5px);
        }
    }
}

.contact-home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    > li{
        padding-left:rem(35px);
        font-size: rem(20px);
        background-repeat:no-repeat;
        background-position:left top;
        background-size:rem(24px 24px);
        &.address{
            background-image:url("/assets/img/icon_pin.svg");
        }
        &.phone{
            background-image:url("/assets/img/icon_phone.svg");
        }
        &.email{
            background-image:url("/assets/img/icon_mail.svg");
        }
        &.website{
            background-image:url("/assets/img/icon_home_hover.svg");
        }
        > p{
            font-size: rem(20px);
            font-weight: 300;
            color:$point-color;
        }
    }
}

footer{
    padding:rem(50px 0);
    margin-top:auto;
    .sns-list{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom:rem(30px);
        > li{
            & + li{
                margin-left:rem(30px);
            }
            > a{
                display:block;
                width:rem(40px);
                height:rem(40px);
                background-repeat:no-repeat;
                background-size:cover;
                &.github{
                    background-image:url("/assets/img/icon_github.svg");
                }
                &.linkedin{
                    background-image:url("/assets/img/icon_linkedin.svg");
                }
                &.insta{
                    background-image:url("/assets/img/icon_insta.svg");
                }
                &:hover, &:active{
                    &.github{
                        background-image:url("/assets/img/icon_github_hover.svg");
                    }
                    &.linkedin{
                        background-image:url("/assets/img/icon_linkedin_hover.svg");
                    }
                    &.insta{
                        background-image:url("/assets/img/icon_insta_hover.svg");
                    }
                }
            }
        }
    }
    p{
        font-size: rem(24px);
        font-weight: 300;
        text-align: center;
        &.notice{
            font-size: rem(14px);
            font-weight: 300;
            color:$txt-color;
            margin-top:rem(10px);
        }
    }
}

.mail-form{
    font-size: 0;
    margin-top:rem(50px);
    > div{
        display:inline-block;
        width:50%;
        vertical-align: top;
        &.left{
            padding-right:rem(20px);
        }
        &.right{
            padding-left:rem(20px);
        }
        > label{
            display:inline-block;
            font-size: rem(20px);
            font-weight: 300;
            margin-bottom:rem(5px);
        }
        > input{
            & + label{
                margin-top:rem(20px);
            }
        }
        > textarea{
            height:rem(208px);
        }
    }
}

.under-construction{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    > img{
        width:rem(200px);
    }
    > p{
        font-size: rem(50px);
        text-align: center;
        margin-top:rem(-30px);
        > span{
            font-size: rem(22px);
            font-weight: 300;
            color:$point-color;
        }
    }
}

/* button */
.btn-wrap{
    margin-top:rem(80px);
    &.center{
        text-align: center;
    }
}
.btn{
    position:relative;
    display:inline-block;
    font-size: rem(24px);
    font-weight: 300;
    color:$point-color;
    padding:rem(10px 50px);
    border: 1px solid $point-color;
    overflow: hidden;
    vertical-align: top;
    &::before{
        position:absolute;
        display:block;
        content:'';
        top:0;
        bottom:0;
        left:0;
        right:0;
        background-color:$point-color;
        transition: all ease .5s;
        z-index:-1;
        transform: translateX(-100%);
    }
    &:hover, &:active {
        color: $main-color;
        &::before { transform: translateX(0); }
    }
}

/* form */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill
{
    &, &:hover, &:focus, &:active, &:valid
    {
        -webkit-text-fill-color:$main-color;
        -webkit-box-shadow: 0 0 0px 1000px $bg-sub-color inset !important;
    }
}
input[type="text"]{
    width:100%;
    height:rem(34px);
    line-height:rem(32px);
    padding:rem(0 10px);
    background-color:$bg-sub-color;
    border:1px solid $main-color;
    font-size: rem(16px);
    font-weight: 300;
    color:$main-color!important;
    &::placeholder{
        color:$txt-color;
    }
    &:focus{
        border-color:$point-color;
    }
}
textarea{
    width:100%;
    padding:rem(5px 10px);
    background-color:$bg-sub-color;
    border:1px solid $main-color;
    font-size: rem(16px);
    font-weight: 300;
    &::placeholder{
        color:$txt-color;
    }
    &:focus{
        border-color:$point-color;
    }
}

/* scroll down arrow animation */
@keyframes scrollDown { to { top:rem(40px); }  }



/* media query */
@media (hover: hover) {

}

@media all and (min-width:1080px){
    html{
        font-size: 10px;
    }
}

@media all and (max-width:1079px){
    html{
        font-size: 14px;
    }
}

@media all and (max-width:768px){
    html{
        font-size: 13px;
    }
}

@media all and (max-width:640px){
    html{
        font-size: 12px;
    }
}

@media all and (max-width:480px){
    html{
        font-size: 10px;
    }
}

@media all and (max-width:359px){
    html{
        font-size: 9px;
    }
}

@media all and (max-width:320px){
    html{
        font-size: 8px;
    }
}
